<p>
  <strong>Title:</strong>
  <span><%= @book.title %></span>
</p>

<p>
  <strong>Body:</strong>
  <span><%= @book.body %></span>
</p>

<a href="/books/index">edit</a>
<p>|</p>
<a href="/books">back</a>
